* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(14, 14, 32);
    color: white;

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    height: 15vh;

}
.left h1:hover{
    color: crimson;
    transition: all;
    transition-duration: 0.5s;
    scale: 1.2;
}

.right ul {
    display: flex;
    gap: 30px;
}

.right ul li {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 16px;

}

.right ul li a {
    color: white;
    text-decoration: none;
}

.l1:hover {
    color: crimson;
    transition: all;
    transition-duration: 0.5s;
    Scale: 1.2;
}

.main {
    height: 70vh;
    /* background-color: brown; */


}

.container {
    display: flex;
    align-items: center;
    gap: 1vw;
    
}

.left1 {
    font-size: 3rem;
    margin-top: 5vh;
    margin-left: 30vh;
    width: 50%;
    
}

 .right1 {
    margin-top: 11vh;
    margin-right: 5vh;
    /* width: 40%; */
}

.image {
    height: 55vh;
    width: 50vh;
    border-radius: 10px;
}

.span1 {
    color: yellow;

} 


/* About section css */

.About{
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 4%;
    background-color: beige;
    color: black;
}
.text-center{
    text-align: center;
}

.about-text{
    margin: 5%;
    padding-inline: 5%;
    font-size: 20px;
    line-height: 2;
}